@tailwind base;
@tailwind components;
@tailwind utilities;

/*html {
	scroll-behavior: smooth;
}*/

.active {
	color: orange;
	font-weight: 500;
}

.underline-heading {
	text-decoration-color: orange;
}

.logoutBTN::before {
	content: "";
	position: absolute;
	top: -30px;
	border: 20px solid;
	transform: translateX(90%);
	z-index: 2;
	border-color: #0000 #0000 #fff #0000;
}
